body {
	background-color: #121212;
	color: #e0e0e0;
	font-family: "Roboto", sans-serif;
}

.bg-dark-custom {
	background-color: #1e1e1e;
}

.tag {
	background-color: #2a2a2a;
	color: #d0d0d0;
	font-size: 0.75rem;
	padding: 3px 8px;
	border-radius: 12px;
	display: inline-block;
}
